.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    background-color: #333;
    color: #fff;

    &__column {
        flex: 1; // Колонки будут равномерно распределены по ширине margin-right: 20px;
        display: flex;
        flex-direction: column;

        &:last-child {
            margin-right: 0;
        }
    }

    &__logowrapper {
        text-align: center;
    }

    &__logo {
        display: block;
    }

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #9c9c9c;
        text-transform: uppercase;
    }

    &__heading {
        color: #fff;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        color: #9c9c9c;

        &__item {
            margin-bottom: 40px;
        }
    }

    &__contact {
        color: #fff;
        margin: 5px 0;
    }

    &__link {
        color: #9c9c9c;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__socials {
        display: flex;
        margin-top: 10px;

        &__social-icon {
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__bottom {
        text-align: center;
        margin-top: 40px;
        width: 100%;
    }

    &__address {
        color: #fff;
    }
}

.footer__column--menu {
    margin-left: 60px;
}