.header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.93) 40.86%,
    rgba(0, 0, 0, 0.7998) 100%
  );
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 1px solid red;
  padding: 10px 20px;

  &__topbar {
    text-align: right;
    padding-top: 22px;

    a {
      color: white;
    }

    &-search-wrapper {
      position: relative; // Устанавливаем относительное позиционирование для обертки
      display: inline-block;
    }

    &-search {
      padding-left: 30px; /* Добавьте отступ слева для текста */
      border: 1px solid #ccc; /* Граница для поля ввода */
      height: 36px;

      &:focus {
        border-color: darkred;
      }
    }

    &-search-icon {
      position: absolute;
      left: 10px; /* Положение иконки внутри инпута */
      top: 50%;
      transform: translateY(-50%);
      width: 16px; /* Ширина иконки */
      height: 16px; /* Высота иконки */
      fill: #fff; /* Цвет иконки */
      pointer-events: none; /* Иконка не должна перехватывать события клика */
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__logo {
    img {
      max-width: 100%;
    }
  }

  &__nav {
    margin-top: 20px;

    .nav__list {
      display: flex;
      list-style: none;

      &:last-child {
        margin-right: 0;

        a {
          color: #fff;
        }
      }

      .nav__item {
        margin-right: 90px;
      }
    }
  }
}
