.ideas {
    min-height: 100vh;

    &__title {
        font-weight:400;
        font-size: 40px;
        line-height: 46px;
        color:#282A30;
        text-transform: uppercase;

        & .ideas__highlight {
            color: #28553f;
          }

    }
}