

  .swiper {
    width: 510px !important;
    height: 100%;
   

  }


  .swiper-slide {
    margin-right:15px !important;
    width: 117px !important;
  }

  .swiper-button-next,
.swiper-button-prev {
border:1px solid;

}
 

.swiper-button-next {
  right: 30% !important;
}

.swiper-button-prev {
  left: 30% !important;
}


  @media (max-width: 760px) {
    .swiper-button-next {
      right: 20px;
      transform: rotate(90deg);
    }

    .swiper-button-prev {
      left: 20px;
      transform: rotate(90deg);
    }
  }

