.swiper {
  width: 510px;
  height: 100%;
}

.swiper-slide {
  width: 117px !important;
}

.swiper-button-next,
.swiper-button-prev {
  border: 1px solid #f9f9f9;
  height: 103px !important;
  width: 27px !important;
  background-color: #f9f9f9;
  transform: translateY(-27%);
  position: relative;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}
