<section class="advantages">
    
    <h2 class="advantages__title">наши преимущества - ваш результат</h2>
    <div class="advantages__content">
      <div class="advantages__leftsidelist">
        <p class="advantages__list-item">Новейшее итальянское оборудование Donatoni</p>
        <p class="advantages__list-item">Собственное произодство</p>
        <p class="advantages__list-item">Широкий ассортимент разнообразных камней</p>
      </div>
      
      <img class="advantages__image" src="/img/advantages.png" alt="">
  
      <div class="advantages__rightsidelist">
        <p class="advantages__list-item">Изделия из наличия</p>
        <p class="advantages__list-item">Работаем под ключ</p>
        <p class="advantages__list-item">Консультации по уходу за изделиями из камня</p>
      </div>
    </div>

  </section>