<header class="header">
   
  <div class="header__topbar">
    <svg class="icon" width="24" height="24">
      <use xlink:href="img/symbol/sprite.svg#whatsapp"></use>
    </svg>
    <svg class="icon" width="24" height="24">
      <use xlink:href="img/symbol/sprite.svg#phone"></use>
    </svg>
    <a href="'#">+7 (499) 258-625-33</a>
    <div class="header__topbar-search-wrapper">
    <input type="text" class="header__topbar-search" />
    <svg class="header__topbar-search-icon" width="24" height="24">
      <use xlink:href="img/symbol/sprite.svg#Search"></use>
    </svg>
    </div>
  </div>

  <div class="header__row">
    <a href="/" class="header__logo">
      <img
        src="/img/logo.svg"
        width="290"
        height="115"
        alt="Логотип компании Anima"
      />
    </a>

    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#">КАТАЛОГ</a></li>
        <li class="nav__item"><a href="#">АКЦИИ</a></li>
        <li class="nav__item"><a href="#">БЛОГ</a></li>
        <li class="nav__item"><a href="#">СОТРУДНИЧЕСТВО</a></li>
        <li class="nav__item"><a href="#">ОПЛАТА И ДОСТАВКА</a></li>
      </ul>
    </nav>
</div>
</header>
