<section class="promotion">
  <div class="promotion__linkwrap">
    <a href="#" class="promotion__viewall">Смотреть все<svg class="icon" width="24" height="24">
      <use xlink:href="img/symbol/sprite.svg#viewarrowwhite"></use>
    </svg></a>
    
  </div>
  <div class="promotion__infoblock">
    <h2 class="promotion__title">
      Актуальные акции на
      <span class="promotion__highlight">нашу продукцию</span>
    </h2>
    <p class="promotion__description">
      Учитывая ключевые сценарии поведения, обучения кадров влечет за собой
      процесс внедрения и модернизации распределения
    </p>
   
      <a href="#" class="btn btn-catalogue">Перейти в каталог</a>
  </div>
  <div class="promotion__gallery">
    @@include('../partials/components/cardpreview.html')
    <img src="/img/product.png" alt="">
    <img src="/img/product.png" alt="">
    <img src="/img/product.png" alt="">
    <img src="/img/product.png" alt="">
  </div>
</section>
